<app-header></app-header>
<h1 class="text-center">Lista de Pacientes</h1>
<div class="">

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @for (paciente of pacientes; track paciente.id) {
            <tr>

                <td>{{paciente.id}}</td>
                <td>{{paciente.fistName}}</td>
                <td>{{paciente.lastName}}</td>
                <td>{{paciente.email}}</td>
                <td> <button class="btn btn-primary btn-sm">
                        Ver
                    </button></td>
            </tr>
            }@empty {
            <tr colspan="32">CARGANDO PACIENTES...</tr>
            }

        </tbody>
    </table>

</div>