.container-padre {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

}

.container-izquierdo {
  width: 30%;
  border: none;
}

.card {
  padding: 2rem;
  row-gap: 1rem;
  text-align: start;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);


}

.card input {
  border-radius: 15px;
  height: 2.5rem;
  background-color: #eeeeee;
  border: none;
}

.card select {
  border-radius: 15px;
  height: 2.5rem;
  background-color: #eeeeee;
  border: none;
}

.footer-card-izquierdo {
  justify-content: end;
  gap: 20px;
  display: flex;

}

.footer-card-izquierdo button {
  padding: 10px;

}



.container-derecho {
  width: 70%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;

}

.btn1 {
  background-color: #022b59;
  border-radius: 15px;
  color: #fff;
  border: none;
  padding: 10px 16px;
  min-width: 100px;

}

.btn2 {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 10px 16px;
  min-width: 100px;

}

.container-body {
 
}

.header-derecho {
  min-height: 80px;
  justify-content: center;
}

.header-derecho a {
  color: #899097;
  font-weight: 500;
  cursor: pointer;


}

.header-derecho a:hover {
  color: #022B59;
  font-weight: 500;
  border-bottom: 1px solid #022B59;
  padding-bottom: 1px;
  width: fit-content;

}

.search-form {
  width: 100%;
  text-align: start;
  padding: 1rem;
}

.search-form:focus {
  border-color: red;
}

.input-buscar {
  position: relative;
  width: 100%;
}

.input-buscar i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #022b59;
  font-size: 18px;

}

.input-buscar input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  outline: none;

}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.borrar {
  cursor: pointer;
  font-weight: 600;
  color: #3f93fb;
}

.borrar:hover {
  color: #FA3E3E;
}

.title {
  font-weight: 600;
  color: #899097;
}

.body-formato {
  margin-top: 2rem;
  display: flex;
  gap: 20px;

}

.titulo {
  font-weight: 600;
  color: #899097;
}

.consulta-externa,
.hospitalizacion {
  text-align: left;
  font-weight: 600;
  color: #899097;
  width: 40%;
}

.separador {
  border-left: 1px solid #899097;
  justify-content: center;
  margin: 1rem;
}
.permisos {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.permisos-hospital{
  margin-top: 2rem;
}

.permisos button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
  color: #212529;
  transition: all 0.2s ease;
}

/* Hover */
.permisos button:hover {
  background: #d1e7dd;
  color: #146c43;
}

/* Activo */
.permisos.activo button {
  background: #d1e7dd;
  color: #146c43;
  font-weight: 600;
}

/* Icono activo */
.permisos.activo i {
  color: #198754;
}