<!-- <app-header></app-header>

<h1 class="text-center">Graficos charts</h1>
<div class="contenedor-graficas">
  <div class="grafica">
    <canvas id="graficaPacientes"></canvas>
  </div>
  <div class="grafica">
    <canvas id="graficaedad"></canvas>
  </div>
</div>

<div class="permisos-container">
   PANEL IZQUIERDO 
  <div class="panel">
    <div class="panel-header">
      <h3>Permisos disponibles</h3>

      <span class="contador">
        {{ permisosDisponibles.length }}
      </span>
    </div>

    <div class="permisos-lista">
      @for (permiso of permisosDisponibles; track permiso.id) {
        <button type="button" class="permiso disponible" (click)="activarPermiso(permiso)">
          {{ permiso.nombre }}
        </button>
      }

      @if (permisosDisponibles.length === 0) {
        <p class="vacio">No hay permisos disponibles</p>
      }
    </div>
  </div>

   PANEL DERECHO 
  <div class="panel">
    <div class="panel-header">
      <h3>Permisos activos</h3>

      <span class="contador activos">
        {{ permisosActivos.length }}
      </span>
    </div>

    <div class="permisos-lista">
      @for (permiso of permisosActivos; track permiso.id) {
        <button type="button" class="permiso activo" (click)="desactivarPermiso(permiso)">
          <span class="check"> ✓ </span>

          <span>
            {{ permiso.nombre }}
          </span>
        </button>
      }

      @if (permisosActivos.length === 0) {
        <p class="vacio">No hay permisos activos</p>
      }
    </div>
  </div>
</div>--->

<app-header></app-header>
<div class="container-padre">
  <div class="container-izquierdo">
    <div class="card">
      <h5 style="color: #022b59">CONSULTAR USUARIOS</h5>

      <div class="mb-3">
        <label style="color: #022b59; font-weight: 700">Tipo de Documento</label>
        <select class="form-select" id="tipo_doc">
          <option selected>Selecciona...</option>
          <option value="1">TI</option>
          <option value="2">CC</option>
          <option value="3">CE</option>
        </select>
      </div>

      <div class="mb-3">
        <label style="color: #022b59; font-weight: 700">Numero de Documento</label>
        <input type="number" class="form-control" />
      </div>
      <div class="footer-card-izquierdo">
        <button class="btn2">Limpiar</button>
        <button class="btn1">Buscar</button>
      </div>
    </div>
  </div>
  <div class="container-derecho">
    <div class="card header-derecho">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="contenidoActivo === 'Detalles'"
            (click)="cambiarContenido('Detalles')"
          >
            Detalles
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="contenidoActivo === 'Modulo'"
            (click)="cambiarContenido('Modulo')"
          >
            Modulo
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="contenidoActivo === 'Formatos'"
            (click)="cambiarContenido('Formatos')"
          >
            Formatos
          </a>
        </li>
      </ul>
    </div>
    <div class="card container-body">
      @if (contenidoActivo == 'Detalles') {
        <div>
          <h1>Detalles</h1>
          <p>Aqui van detalles</p>
        </div>
      }
      @if (contenidoActivo == 'Modulo') {
        <h1>Aqui van los modulos</h1>
        <p>modulos</p>
      }

      @if (contenidoActivo == 'Formatos') {
        <div class="header-body">
          <span class="title">PERMISOS DE FORMATOS</span>
          <span class="borrar">Borrar todos</span>
        </div>
        <div class="input-buscar">
          <i class="bi bi-search"></i>
          <input
            type="text"
            class="search-form"
            name="search"
            required
            placeholder="Buscar paciente"
          />
        </div>

        <div class="body-formato">
          <div class="hospitalizacion">
            <div class="titulo">
              <h5>Hospitalización</h5>
              <div class="permisos-hospital">
                @for (permiso of permisosDisponibles; track permiso.id) {
                  <div class="permisos" [class.activo]="estaActivo(permiso)">
                    <button class="btn" (click)="activarPermiso(permiso)">
                      @if (estaActivo(permiso)) {
                        <i class="bi bi-check-circle"></i>
                      }
                      <span>{{ permiso.nombre }}</span>
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="separador"></div>
          <div class="consultaexterna">
            <div class="titulo">
              <h5>Consulta Externa</h5>
                     <div class="permisos-hospital">
                @for (permisoExt of permisosDisponiblesExt; track permisoExt.id) {
                  <div class="permisos" [class.activo]="estaActivoExt(permisoExt)">
                    <button class="btn" (click)="activarPermisoExt(permisoExt)">
                      @if (estaActivoExt(permisoExt)) {
                        <i class="bi bi-check-circle"></i>
                      }
                      <span>{{ permisoExt.nombre }}</span>
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
