<header class="header">
  <button class="btn-menu" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <div class="header-titulo">
    <span>Sistema de Gestión</span>
  </div>
  <div class="header-titulo">
    <span class="avatar"> <img [src]="usuario?.image" alt="" /> </span>

    <span>{{ usuario.firstName }} {{ usuario.lastName }}</span>
  </div>
</header>

<!-- Sidebar -->
<aside class="sidebar" [class.abierto]="sidebarAbierto()">
  <div class="sidebar-header">
    <h4>Menú</h4>

    <button class="btn-cerrar" (click)="cerrarSidebar()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <nav class="sidebar-menu">
    <a href="#">
      <i class="bi bi-house"></i>
      <span>Inicio</span>
    </a>

    <a href="#">
      <i class="bi bi-people"></i>
      <span>Usuarios</span>
    </a>

    <a href="#">
      <i class="bi bi-person-vcard"></i>
      <span>Pacientes</span>
    </a>

    <a href="#">
      <i class="bi bi-shield-check"></i>
      <span>Permisos</span>
    </a>

    <a href="#">
      <i class="bi bi-gear"></i>
      <span>Configuración</span>
    </a>
  </nav>
</aside>

<!-- Fondo cuando el sidebar está abierto -->
@if (sidebarAbierto()) {
  <div class="overlay" (click)="cerrarSidebar()"></div>
}
