<app-header></app-header>
<div class="contain">
  <div class="card">
    <h2>Cambiar contraseña</h2>
    <form class="form-floating mb-3">
      <div class="form-floating">
        <input
          [type]="verpassword ? 'text' : 'password'"
          [(ngModel)]="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
        />
        <button
          class="seepass"
          type="button"
          (click)="verpassword = !verpassword"
          aria-label="Mostrar u ocultar contraseña"
        >
          @if (!verpassword) {
            <span>👁️</span>
          } @else {
            <span>🙈</span>
          }
        </button>
        <label for="floatingPassword">Nueva Password</label>
      </div>
      <div class="form-floating">
        <input
          [type]="verpassword2 ? 'text' : 'password'"
          [(ngModel)]="password2"
          class="form-control"
          id="floatingPassword2"
          placeholder="Password2"
          name="password"
        />
        <button
          class="seepass"
          type="button"
          (click)="verpassword2 = !verpassword2"
          aria-label="Mostrar u ocultar contraseña"
        >
          @if (!verpassword2) {
            <span>👁️</span>
          } @else {
            <span>🙈</span>
          }
        </button>
        <label for="floatingPassword">Nueva Password</label>
      </div>

      <button class="btn btn-primary">Cambiar Clave</button>
    </form>
  </div>
</div>
